<html lang="en">
	<head>
		<a href="/about">about</a>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>AstroTSXD</title>
	</head>
	<body>
		<a href="/index">ir a index</a>
        <a href="/about">ir a about</a>
		<h1>Ayuda me estan papeando </h1>
	</body>
</html>
