<style>
    .contGlass {
        position: static;
        top: 0;
        left: 0;
        width: 15%;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(10px);
    }
</style>
<div class="contGlass">
    esto parece ser un portafolio web , pero igual me sirve para flexear que saque tercer lugar en un torneo de sc2 nivel Bolivia xd
</div>